/* Utility functions
-------------------------------------------------- */
.padding-bottom-1 {
  padding-bottom: 0.5rem;
}
.padding-top-1 {
  padding-top: 0.5rem;
}
.padding-right-1 {
  padding-right: 0.5rem;
}
.padding-left-1 {
  padding-left: 0.5rem;
}
.padding-1 {
  padding: 0.5rem;
}
.padding-bottom-2 {
  padding-bottom: 1rem;
}
.padding-top-2 {
  padding-top: 1rem;
}
.padding-right-2 {
  padding-right: 1rem;
}
.padding-left-2 {
  padding-left: 1rem;
}
.padding-2 {
  padding: 1rem;
}
.padding-bottom-3 {
  padding-bottom: 1.5rem;
}
.padding-top-3 {
  padding-top: 1.5rem;
}
.padding-right-3 {
  padding-right: 1.5rem;
}
.padding-left-3 {
  padding-left: 1.5rem;
}
.padding-3 {
  padding: 1.5rem;
}
.padding-bottom-4 {
  padding-bottom: 2rem;
}
.padding-top-4 {
  padding-top: 2rem;
}
.padding-right-4 {
  padding-right: 2rem;
}
.padding-left-4 {
  padding-left: 2rem;
}
.padding-4 {
  padding: 2rem;
}
.margin-bottom-1 {
  margin-bottom: 0.5rem;
}
.margin-top-1 {
  margin-top: 0.5rem;
}
.margin-right-1 {
  margin-right: 0.5rem;
}
.margin-left-1 {
  margin-left: 0.5rem;
}
.margin-1 {
  margin: 0.5rem;
}
.margin-bottom-2 {
  margin-bottom: 1rem;
}
.margin-top-2 {
  margin-top: 1rem;
}
.margin-right-2 {
  margin-right: 1rem;
}
.margin-left-2 {
  margin-left: 1rem;
}
.margin-2 {
  margin: 1rem;
}
.margin-bottom-3 {
  margin-bottom: 1.5rem;
}
.margin-top-3 {
  margin-top: 1.5rem;
}
.margin-right-3 {
  margin-right: 1.5rem;
}
.margin-left-3 {
  margin-left: 1.5rem;
}
.margin-3 {
  margin: 1.5rem;
}
.margin-bottom-4 {
  margin-bottom: 2rem;
}
.margin-top-4 {
  margin-top: 2rem;
}
.margin-right-4 {
  margin-right: 2rem;
}
.margin-left-4 {
  margin-left: 2rem;
}
.margin-4 {
  margin: 2rem;
}
.no-margin {
  margin: 0px !important;
}
.no-padding {
  padding: 0px !important;
}
.no-margin-no-padding {
  margin: 0px !important;
  padding: 0px !important;
}
/* Icons styles
-------------------------------------------------- */
i.fa {
  padding-right: 0.5rem;
}
.flag-icon {
  font-size: 3rem;
  cursor: pointer;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /* Fixed top navbar */
  padding-top: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
/* Animate ui-router
-------------------------------------------------- */
main {
  /* start 'enter' transition */
  /* end 'enter' transition */
}
main.ng-enter {
  /* transition on enter for .5s */
  transition: .5s;
  /* start with opacity 0 (invisible) */
  opacity: 0;
}
main.ng-enter-active {
  /* end with opacity 1 (fade in) */
  opacity: 1;
}
