/* Utility functions
-------------------------------------------------- */
.generate-padding(4);
.generate-padding(@n, @i: 1) when (@i =< @n) {
  .padding-bottom-@{i} {
    padding-bottom: (0.5rem * @i);
  }
  .padding-top-@{i} {
    padding-top: (0.5rem * @i);
  }
  .padding-right-@{i} {
    padding-right: (0.5rem * @i);
  }
  .padding-left-@{i} {
    padding-left: (0.5rem * @i);
  }
  .padding-@{i} {
    padding: (0.5rem * @i);
  }
  .generate-padding(@n, (@i + 1));
}
.generate-margin(4);
.generate-margin(@n, @i: 1) when (@i =< @n) {
  .margin-bottom-@{i} {
    margin-bottom: (0.5rem * @i);
  }
  .margin-top-@{i} {
    margin-top: (0.5rem * @i);
  }
  .margin-right-@{i} {
    margin-right: (0.5rem * @i);
  }
  .margin-left-@{i} {
    margin-left: (0.5rem * @i);
  }
  .margin-@{i} {
    margin: (0.5rem * @i);
  }
  .generate-margin(@n, (@i + 1));
}

.no-margin {
  margin: 0px !important;
}
.no-padding {
  padding: 0px !important;
}
.no-margin-no-padding {
  .no-margin();
  .no-padding();
}

/* Icons styles
-------------------------------------------------- */
i.fa {
  .padding-right-1();
}
.flag-icon {
  font-size: 3rem;
  cursor: pointer;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /* Fixed top navbar */
  padding-top: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Animate ui-router
-------------------------------------------------- */
main {
  /* start 'enter' transition */
  &.ng-enter {
    /* transition on enter for .5s */
    transition: .5s;
  
    /* start with opacity 0 (invisible) */
    opacity: 0;
  }

  /* end 'enter' transition */
  &.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1;
  }
}